// Place all the styles related to the RentalProperties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right_align {
    text-align: right;
}
.center_align {
    text-align: center
}
.bold {
    font-weight: bold;
}
.underlined {
    text-decoration: underline;
}
